* {
  box-sizing: border-box;
}

body {
  padding: 2rem;
  line-height: 1.75;
  font-family: Inter, 'HarmonyOS Sans SC', 'MiSans', sans-serif;
}

h1 {
  margin: 0 0 1.5rem;
}

p {
  margin: 0.25rem 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

code {
  font-size: 1rem;
  font-family: Consolas, 'HarmonyOS Sans SC', 'MiSans', monospace;
}

button {
  padding: 0.5rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}

img {
  width: 8rem;
}

input,
select {
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
}

textarea {
  width: 100%;
  max-width: 600px;
  height: 80vh;
  padding: 1rem;
  overflow: auto;
  background-color: #f4f4f4;
  font-size: 1rem;
  line-height: inherit;
  font-family: Consolas 'HarmonyOS Sans SC', 'MiSans', monospace;
}
